
<div class="x_panel">
  <div class="x_title">
    <h2>Updating <%= @item.name%></h2>
    <!--<ul class="nav navbar-right panel_toolbox">
      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
      </li>
    </ul>-->
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <%= form_for @item, :html => {:class => 'form-horizontal form-label-left input_mask'} do |f| %>
    <% if @item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@item.errors.count, "error") %> prohibited this customer from being saved:</h2>

        <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <%= f.text_field :name, :class => 'form-control', :value => @item.name %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Price</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <%= f.number_field :price, :class => 'form-control money', :value => @item.price, :step => "0.01", required: 'true' %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <%= f.text_area :description, :class => 'form-control', :value => @item.description %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Quantity</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <label class="control-label"><%= @item.quantity%></label>
        </div>
      </div>

      <div class="ln_solid"></div>
      <div class="form-group">
        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
          <%= link_to 'Delete',url_for(action: :destroy, id: @item.id),method: :delete, data: {confirm: "Are you sure?"}, :class => 'btn btn-danger' %>
          <%= link_to 'Cancel', :back, :class => 'btn btn-primary' %>
          <%= f.submit 'Submit', :class => 'btn btn-success' %>
        </div>
      </div>

    <% end %>
  </div>
</div>






<div class="x_panel">
  <div class="x_title">
    <h2>Manage Quantity <small>for <%=@item.name%> </small></h2>
    
    <div class="clearfix"></div>
  </div>
  <div class="x_content">

    <div class="row">

    <form action="<%=item_history_path(@item.id)%>" method="POST">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="col-md-2 col-sm-12 col-xs-12 form-group">
        <input type="number" name="item_history[quantity]" placeholder="Quantity" class="form-control" required>
      </div>

      <div class="col-md-8 col-sm-12 col-xs-12 form-group">
        <input type="text" name="item_history[description]" placeholder="Optional Information" class="form-control">
      </div>

      <div class="col-md-2 col-sm-12 col-xs-12 form-group">
        <button type="submit" class="btn btn-success">Add!</button>
      </div>
    </form>
    </div>

  </div>
</div>


<div class="x_panel">
  <div class="x_title">
    <h2>History</h2>
    
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>CreatedAt</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Description</th>
                
            </tr>
            </thead>
            <tbody>
            <% @item_history.each do |item| %>
            <tr>
                <td><%= item.created_at.to_formatted_s(:short) %></td>
                <td><%= item.author %></td>
                <td><%= item.quantity %></td>
                <td><%= truncate(item.description, :length => 10, :omission => '...') %></td>
                
            </tr>
            <% end %>
            </tbody>
        </table>
        <%= paginate @item_history, :left => 1, :right => 3 %>

  </div>
</div>
