<div class="page-title">
    <h3 style="text-align: center">Inventory</h3>
  
    <div class="col-md-6 col-sm-6 col-xs-12" style="width:100%">
        <div class="x_panel">
        <div class="x_title">
            <button type="button" class="btn btn-primary btn-circle btn-lg" onclick="location.href = '<%= new_item_path%>';"><i class="glyphicon glyphicon-plus"></i></button>
        <div class="clearfix"></div>
        </div>
        <div class="x_content">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Description</th>
                <th>#Edit</th>
            </tr>
            </thead>
            <tbody>
            <% @items.each do |item| %>
            <tr>
                <th scope="row"><%= item.id %></th>
                <td><%= truncate(item.name, :length => 20, :omission => '...') %></td>
                <td><%= item.price %></td>
                <td><%= item.quantity %></td>
                <td><%= truncate(item.description, :length => 20, :omission => '...') %></td>
                <td><%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_item_path(item), :class => 'btn btn-info btn-xs' %></td>
            </tr>
            <% end %>
            </tbody>
        </table>

        <%= paginate @items, :left => 1, :right => 3 %>

        </div>
    </div>
</div>